In [8]:
import pandas as pd

df2017 = pd.read_csv('Resources/names/yob2017.txt', header=None)
df2007 = pd.read_csv('Resources/names/yob2007.txt', header=None)
names = ["Arya", "Cersei", "Sansa"]
aria2017 = df2017.loc[df2017[0]=="Arya"]
aria2017

          0  1     2
134    Arya  F  2156
21007  Arya  M    45

In [11]:
aria2007 = df2007.loc[df2007[0]=="Arya"]
aria2007

          0  1    2
1241   Arya  F  199
22068  Arya  M  105